.btn,
.activeBtn {
    border-radius: var(--border-radius-4);
    border: 1px solid #d3d5d9;
    height: 60px;
    font-size: 14px;
    padding: var(--gap-0) 18px;
}

.activeBtn {
    border-color: #990032;
    background-color: #990032;

    &:hover {
        background-color: transparent;
        color: #990032;
    }
}

.footer {
    justify-content: center;
    gap: 30px;
    border-top: 1px solid #e7e9ed;
    padding: 45px var(--gap-64) 50px;
}

.content {
    padding: 28px var(--gap-64) var(--gap-40) !important;
    text-align: center;
}



.text {
    line-height: 1.4;
    text-align: center;
    color: #252429;
}

.header {
    & > *:first-child {
        width: 70%;
        margin: var(--gap-0) auto;
        font-size: 20px;
        line-height: 1.2;
    }
}


@media (max-width: 700px) {
    .content {
        padding: 22px 15px var(--gap-40) !important;
    }
    .footer {
        padding: 22px 15px 0px;
    }


    .header {
        & > *:first-child {
            width: 90%;
        }
    }
}