.shape {
    border-radius: 4px;
    background: #f4f4f5;
}

.closer1111 {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background: #f4f4f5;
}

.closer .navigation-bar-private__closer_fjf3n > button {
    width: 32px;
    height: 32px;
}