.selectBlock {
    padding-bottom: 30px;
}

.selectBlock [class^='select__field'] {
    background: #f4f4f5;
}

.inputs {
    max-width: 100%;
    display: flex;
    gap: 24px;
    padding-bottom: var(--gap-40);
}

.inputBlock {
    background: #f4f4f5;
}

.inputBlock .label {
    white-space: normal;
    overflow-wrap: break-word;
}

.focused .label {
    white-space: nowrap;
    overflow-wrap: normal;
}

.filled .label {
    white-space: nowrap;
    overflow-wrap: normal;
}

@media (max-width: 600px) {
    .inputs {
        flex-wrap: wrap;
    }

    .inputBlock {
        width: 100%;
    }
}
