.header {
    padding: 47px var(--gap-64) 22px;

    & > *:first-child > *:first-child {
        padding-left: var(--gap-0);
        padding-bottom: var(--gap-0);
        padding-top: var(--gap-0);
        font-size: 20px;
        line-height: 120%;
        color: #000;
        opacity: 0.8;
    }
}

@media (min-width: 1024px) {
    .header {
        & > *:first-child > *:last-child button {
            border-radius: 4px;
            width: 32px;
            height: 32px;
            background: #f4f4f5;
            transition: background 0.3s easy;

            &:hover {
                background: rgba(244, 244, 245, 0.11);
            }
        }
    }
}

.content {
    padding: var(--gap-0) var(--gap-64) 50px;
}


@media (max-width: 700px) {
    .content {
        padding: 0 15px 0;
    }

    .header {
        padding: 22px 15px 22px;
    }
}

.modal {
    padding: var(--gap-0);
}

.checkboxContainer {
    margin-bottom: var(--gap-40);
}

.activeBtn {
    flex-basis: 192px;
    border-radius: var(--border-radius-4);
    border: 1px solid #990032;
    height: 48px;
    font-size: 14px;
    padding: var(--gap-0) 18px;
    background-color: #990032;

    &:hover {
        background-color: transparent;
        color: #990032;
    }
}

.amountBlock {
    font-size: 14px;
    color: #252429;
}

.summary {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: var(--gap-8);
}

.subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    color: black;
    margin-bottom: var(--gap-16);
}

.circle {
    position: relative;
    background-color: transparent !important;
    border: 2px solid #dee3e6 !important;
}

.circle:before {
    content: '';
    position: absolute;
    background-color: transparent;
    border-radius: var(--border-radius-circle);
    left: 50%;
    top: 50%;
    width: 12px;
    height: 12px;
    transform: translate(-50%, -50%);
    opacity: var(--gap-0);
    transition: opacity 0.2s ease;
}

input[type='radio']:checked + .circle:before {
    background-color: #ba875c;
    opacity: 1;
}

.radioContent {
    max-width: 290px;
}

.hint {
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #a1a5aa;

    & > a {
        text-decoration: none;
        color: #990032;
    }
}

.iconContainer {
    display: flex;
    gap: 14px;
    align-items: center;

    & > img {
        object-fit: contain;
        background: transparent;
        border: none;
    }
}
