.startMain,
.main {
    flex: 1;
    padding-bottom: 186px;
}

.startMain {
    justify-content: flex-start;
    padding-left: 160px;
}

.content {
    max-height: 800px;
    display: flex;
    justify-content: center;
    gap: 94px;
    background: transparent;
}

@media (max-width: 1200px) {
    .content {
        max-height: 1280px;
        flex-direction: column;
        align-items: center;
    }

    .startMain {
        justify-content: center;
        padding-left: var(--gap-0);
    }
}

@media (max-width: 500px) {
    .content {
        padding-bottom: var(--gap-80);
        gap: 60px;
    }
}
