.startMain,
.main {
    flex: 1;
    display: flex;
    padding-bottom: 186px;
    justify-content: center;
    gap: 94px;
    background: transparent;
    align-items: end;
}

.startMain {
    justify-content: flex-start;
    padding-left: 160px;
}

@media (max-width: 1200px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .startMain {
        justify-content: center;
        padding-left: var(--gap-0);
    }
}

@media (max-width: 500px) {
    .main {
        padding-bottom: var(--gap-80);
        gap: 60px;
    }
}
