.formContainer {
    width: 642px;
    overflow: hidden;

    .btn {
        width: 100%;
        text-transform: uppercase;
    }

    .activeBtn {
        border-radius: var(--border-radius-4);
        border: 1px solid #d3d5d9;
        height: 60px;
        font-size: 14px;
        background-color: #990032;

        &:hover {
            background-color: transparent;
            color: #990032;
        }
    }
}

.formWrapper {
    background: var(--color-light-bg-primary);
    padding: 44px var(--gap-40) var(--gap-40);
}

.formHeader {
    width: 642px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.formTitle {
    font-size: var(--gap-40);
    font-weight: 700;
    background: #002068;
    color: var(--color-light-text-primary-inverted);
    padding: var(--gap-24) var(--gap-0) var(--gap-24) var(--gap-40);
    text-transform: uppercase;
    flex: 0 0 50%;
    white-space: nowrap;
}

.pattern {
    flex: 0 0 50%;
    position: relative;
    height: 100%;
    background: #002068;
}

.backgroundImage {
    position: absolute;
    top: var(--gap-0);
    left: var(--gap-0);
    width: 100%;
    height: 100%;
    background-image: url('/group.png');
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.formSubtitle {
    position: absolute;
    top: 32px;
    left: 135px;
    width: 100%;
    z-index: 2;
    height: 100%;
    font-size: 16px;
    line-height: 1.12;
    font-weight: 400;
    color: var(--color-light-text-primary-inverted);
    flex: 1;
}

.formText {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
}

.finalText {
    font-size: 16px;
    line-height: 1.2;
}

.amountBlock {
    display: flex;
    gap: 120px;
    padding: 38px var(--gap-0) 34px 0;
}

.amountText {
    font-size: 16px;
    line-height: 1.15;
}

.priceText {
    color: #990032;
}

.amount {
    font-size: 16px;
    line-height: 1.75;
}

.amountPrice {
    font-size: 24px;
    line-height: 1.2;
}

@media (max-width: 720px) {
    .formContainer {
        width: 500px;
    }

    .formWrapper {
        padding: var(--gap-40) var(--gap-40);
    }

    .formHeader {
        width: 500px;
        height: 124px;
    }

    .formTitle {
        font-size: var(--gap-32);
    }

    .formSubtitle {
        left: 100px;
    }
}

@media (max-width: 500px) {
    .formContainer {
        width: 360px;
    }

    .formWrapper {
        background: var(--color-light-bg-primary);
        padding: var(--gap-40) var(--gap-24);
    }

    .formTitle {
        font-size: var(--gap-24);
        white-space: normal;
    }

    .formHeader {
        width: 360px;
        height: 100px;
    }

    .formSubtitle {
        left: 40px;
    }

    .select {
        padding: var(--gap-24) var(--gap-0);
    }

    .inputs {
        padding: var(--gap-24) var(--gap-0);
    }

    .formText {
        font-size: 18px;
    }
}
