.content {
    font-size: 22px;
    line-height: 1.2;
    max-width: 256px;
}

.header {
    padding: 45px var(--gap-64) 28px;
}

.modalContent {
    padding: var(--gap-0) var(--gap-64) 50px;
}

.modalContent > p {
    padding: var(--gap-0);
    margin: var(--gap-0) 0 45px 0;
}

.baseBtn,
.blueBtn {
    border: 1px solid #d3d5d9;
    border-radius: 5px;
    height: 60px;
}

.blueBtn {
    border: 1px solid #0d4cd3;
    color: #0d4cd3;

    &:hover {
        border: 1px solid #0d4cd3;
    }
}
