.logo {
    margin: 28px 0 28px 150px;
    text-transform: uppercase;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .logo {
        margin-left: var(--left-tablet-margin);
    }
}