.btn,
.activeBtn {
    border-radius: var(--border-radius-4);
    border: 1px solid #d3d5d9;
    height: 60px;
    font-size: 14px;
    padding: var(--gap-0) 18px;
}

.activeBtn {
    border-color: #990032;
    background-color: #990032;

    &:hover {
        background-color: transparent;
        color: #990032;
    }
}

.header {
    padding: 45px var(--gap-64) 22px;

    & > *:first-child > *:first-child {
        padding-left: var(--gap-0);
        padding-bottom: var(--gap-0);
        font-size: 20px;
        line-height: 120%;
        color: #000;
        opacity: 0.8;

        & > * {
            width: 80%;
        }
    }
}

.content {
    padding: var(--gap-64);
}
