.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1440px;
    margin: var(--gap-0) auto;
}

.pageBackground {
    background: url('/cover_large.png') no-repeat center top;
    background-size: cover;
}

.header {
    height: 124px;
    padding: 52px var(--gap-0) 52px 160px;
    background: transparent;
    display: flex;
    align-items: center;
}

@media (max-width: 720px) {
    .main {
        flex-direction: column;
    }
}
